# build + env files
build/
dbdb.egg-info
dist/
env/

# compiled / data files
*.dumb
*.pyc
__pycache__/
*.png

# gsheets integration
credentials.json
token.json
*.mid
*.midi
.env.sh
data/*.dumb

# pytest coverage
.coverage
pytest-coverage.txt
pytest.xml
